@page "/"
@inject IHttpClientFactory HttpClientFactory

<h3>Prueba de conección a la API</h3>

@if (elementos == null){
    <p><em>..Cargando Datos</em></p>
}
else {
    <pre>@elementos</pre>
}

@code{
    private string elementos = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("Generador de poses");
            var respuesta = await client.GetStringAsync("api/personajes");
            elementos = respuesta;
        }
        catch(HttpRequestException e)
        {
            elementos = $"Error: {e.Message}"; 
        }
    }
}